body {
    font-family: 'Arial', sans-serif;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
    text-align: center;
    padding-bottom: 20px;

}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form input,
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form input[type="button"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #007bff;
    color: #fff;
}

button {
    padding: 8px 12px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

button.eliminar {
    background-color: #dc3545;
    color: #fff;
}

button.modificar {
    background-color: #28a745;
    color: #fff;
}

.estadoselect {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.Titulo{
    background-color: rgb(88, 83, 83);
    color: white;
    font-weight: bold;
    text-align: center;
}